.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#game {
  display: grid;
  align-content: center;
  justify-content: center;
}

#gameboard {
  width: 40vw;
  height: 40vw;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  background-color: blue;
}
