html {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-color: rgb(141, 145, 149);
}

button {
  font-family: "Roboto Condensed", sans-serif;
}

.header {
  display: grid;
  justify-content: center;
  margin-bottom: 1.5em;
}

.warning {
  visibility: hidden;
  background-color: black;
  color: white;
  box-shadow: 0rem 0rem 1rem slategray;
}

.activeWarning {
  visibility: visible;
}

.red {
  background-color: white !important;
}

.green {
  background-color: slategray !important;
}

#popup {
  width: 25em;
  height: 25em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: black;
  color: white;
  border: 1rem;
  box-shadow: 0rem 0rem 5rem slategray;
  animation: pulse 2s infinite;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2em;
  visibility: hidden;
}

#newGame {
  width: 15em;
  height: 5.5em;
}

#winner {
  font-size: 2.5rem;
}
#popup.pop {
  visibility: visible;
}

#playerOne,
#playerTwo {
  width: 5vw;
  height: 5vh;
  display: grid;
  align-content: center;
  justify-content: center;
  border: 1em solid black;
}

.activePlayer {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(212, 212, 212, 0.1);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 254, 254, 0);
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#game {
  display: grid;
  align-content: center;
  justify-content: center;
}

#gameboard {
  width: 40vw;
  height: 40vw;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  background-color: rgb(0, 0, 0);
}

.player1,
.player2 {
  display: grid;
  justify-content: center;
}
