html {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
}

button {
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 5px;
}

.header form {
  display: grid;
  gap: 0.5em;
  justify-content: center;
  margin: 1.3em;
}

#p2winner {
  text-align: end;
}

#psubmit {
  transition: box-shadow 0s;
}

#newGame {
  width: 15em;
  height: 2em;
  visibility: hidden;
}

#winner {
  font-size: 2.5rem;
}
#newGame.pop {
  visibility: visible;
}

#playerOne,
#playerTwo {
  width: 5vw;
  height: 5vh;
  display: grid;
  align-content: center;
  justify-content: center;
  border: 0.5em solid black;
  background-color: white;
}

.alert {
  box-shadow: 0rem 0rem 1.2rem black;
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    box-shadow: 0 0 0.7rem 0rem rgba(26, 26, 26, 0.6);
  }

  100% {
    box-shadow: 0 0 0.5rem 0rem black(255, 255, 255 0.4);
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#game {
  display: grid;
  align-content: center;
  justify-content: center;
}

#gameboard {
  width: 40vw;
  height: 40vw;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 4rem;
}

.player1,
.player2 {
  display: grid;
  justify-content: center;
}

#Owins,
#Xwins {
  font-size: 1.5rem;
}

#p1announcement,
#p2announcement {
  color: white;
  background-color: black;
  box-shadow: 0 0 1rem 5rem white;
  font-size: 1.5rem;
  visibility: hidden;
  padding: 2em;
  width: 10vw;
  height: 10vh;
}

#p1announcement.pop,
#p2announcement.pop {
  visibility: visible;
}
